body {
    background-color: orange;
    margin: auto;
}

#happy {
    color: darkblue;
}

.billede {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
